*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: linear-gradient(46deg, #6f57ea, black);
    color: #1a0f1f;
    font-size: 16px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 2.5rem;
}

.inputs{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.input-value input{
    font-size: 1.5rem;
    height: 45px;
    border-radius: 7px;
    border: none;   
}

.lists{
    display: flex;
    justify-content: center;
}

li{
    font-size: 1.5rem;
    color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1.9rem;
}
button{
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 8px;
    border: none;
    background-color: skyblue;
    cursor: pointer;    
}